<div class="wrapper">

    <div class="col-sm-12 mt-4">
        <div class="row">
            <div class="col col-2-5">
                <div class="filter card" *ngFor="let filter of shipmentFilters | keyvalue">
                    <h4 class="filter-title capitalize"><strong>    {{ filter.key }}</strong></h4>
                    <ul class="filter-list"  *ngFor="let item of filter.value">
                        <li class="filter-item">
                           <a href="javascript:void(0);">
                            <input type="checkbox"  (click)="filterData(filter.key, item.name)">
                            {{ item.name }} ({{ item.total }})</a></li>
                    </ul>
                </div>
            </div>
         
            <div class="col-sm-10">
                <div class="card">
                    <div class="col-md-12">
                        <app-search-box (searchSubmit)="onSearchSubmit($event)"></app-search-box>
                    </div>
                </div>
                <p class="text-dark">
                    {{meta.total}}
                </p>

                <ag-grid-angular id="myGrid" style="width:100%; height:500px;" class="ag-theme-alpine" [defaultColDef]="defaultColDef" [rowSelection]="rowSelection" [defaultColDef]="defaultColDef" [rowData]="rowData" [columnDefs]="colDef" [pagination]="true" [sideBar]="true"
                    [paginationPageSize]="30" [suppressContextMenu]="true" [autoGroupColumnDef]="autoGroupColumnDef" [animateRows]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>