@import '../../../sass/variables';
.nav-tabs {
    border-bottom: 0px solid #ddd; z-index: 20;
    li {
        border: 0px;
    font-family: "times new roman", times, roman, serif;
    padding: 9px 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: #12298e;
    margin-right: 8px;
    line-height: 20px;

        a{
            outline: none;
      
          
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
            color: $white;
            letter-spacing: 0.01em;
            font-weight: 600;
            transition: 0.3s;
        }
        &.active, &:hover {
            background-color: $white;
            top: 0;

            a {
                color: $color-primary;
            }
        }
    }
}